header {
    display: flex; 
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    padding: 10px;
    position: relative; 
    z-index: 1; 
    color: white; 
    background-image: url(https://t3.ftcdn.net/jpg/08/05/76/28/360_F_805762819_fyaBhCgjs6UGHi4w4GdhEKuN3InyJPTF.jpg);
}
h2 {
    align-items: center;
    color: rgba(182, 191, 241, 0.781);
}
.background-section {
    background-image: url(https://bigmeshok.ru/upload/uf/0ea/0ea48e064a4eac95544ff5204fb5bd2b.jpg);
    background-size: cover; 
    background-position: center; 
    height: 600px;  
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: start; 
    position: relative;
    font-size: 40px;
}
.content {
    padding: 20px; 
    color: #ffffff;
}
img {
    width: 500px;
    height: 500px;
    position: absolute;
    margin-left: 1100px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.container {
    margin-left: 200px;
    margin-bottom: 100px;
}
a {
    font-size: x-large;
    text-decoration: none;
    color:#375877;
    margin-left: 40px;
}
.menu {
    justify-content: space-between;
}
.aga {
    text-align: center;
    padding-top: 30px;
}
.da {
    background-color: #1d3f5f;
    color: #ffffff;
    align-content: space-between;
}   
p {
    max-width: 65%;
    font-size: larger;
}
.img1 {
    width: 330px;
    height: 220px;
    position: absolute;
    margin-left: 1400px;
    margin-top: -260px;
}
.img2 {
    width: 340px;
    height: 270px;
    position: absolute;
    margin-left: 1400px;
    margin-top: -295px;
}
.img3 {
    width: 330px;
    height: 270px;
    position: absolute;
    margin-left: 1400px;
    margin-top: -275px;
}
ul {
    font-size: larger;
}
.dipper {
    background-color: #366a9b;
    color: #ffffff;
    align-content: space-between;
}
ol {
    font-size: larger;
    max-width: 60%;
}
.img4 {
    width: 570px;
    height: 450px;
    position: absolute;
    margin-left: 1250px;
    margin-top: -760px;
}
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    background-color: rgb(40, 192, 192);
}